@model BLMS.v2.Models.CompetentPersonnel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Page header -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="text-bold">COMPETENT PERSONNEL - DETAILS</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="~/CompetentPersonnel/Index">Competent Personnel</a></li>
                        <li class="breadcrumb-item active">Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <form asp-action="Edit" autocomplete="off">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header bg-success text-white">
                                    <label class="control-label text-sm">Competent Personnel Details</label>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.BusinessDiv)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.BusinessDiv)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.BusinessUnit)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.BusinessUnit)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.PersonnelName)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.PersonnelName)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Icno)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Icno)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.YearAwarded)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.YearAwarded)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.AppointedDt)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.AppointedDt)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.ExpiredDt)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.ExpiredDt)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.RegNo)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.RegNo)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Branch)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Branch)
                                        </dd>
                                    </dl>

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header bg-success text-white">
                                    <label class="control-label text-sm">Certificate Details</label>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.CertFrom)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.CertFrom)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.CertType)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.CertType)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.CertNo)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.CertNo)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.CertFileName)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @{
                                                if (Model.CertFileName == null)
                                                {
                                                    <i class="font-italic">Not available</i>
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => Model.CertFileName)
                                                    <button type="button" onclick="copyCertFileName('@Html.DisplayFor(modelItem => Model.CertFileName)')" class="btn btn-link pl-2 pr-2"><i class="far fa-copy" title="Copy"></i></button>
                                                    <a href="@Html.DisplayFor(modelItem => Model.CertFileName)" target="_blank" class="btn btn-link pl-0"><i class="fas fa-external-link-alt" title="Go to URL"></i></a>
                                                }
                                            }
                                        </dd>
                                    </dl>

                                </div>
                            </div>

                            @{
                                if (Model.CreatedBy != null)
                                {
                                    <span class="text-sm font-italic">Created by @Html.DisplayFor(model => model.CreatedBy) on @Html.DisplayFor(model => model.CreatedDt)<br /></span>
                                }
                                if (Model.UpdatedBy != null)
                                {
                                    <span class="text-sm font-italic">Updated by @Html.DisplayFor(model => model.UpdatedBy) on @Html.DisplayFor(model => model.UpdatedDt)</span>
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="Index" class="btn btn-success btn-sm text-white"> Back</a>
                    <a asp-action="Renewal" class="btn btn-primary btn-sm" asp-route-id="@Model.PersonnelId">Renewal</a>
                </div>
            </div>
        </form>
    </section>
</div>


