@model IEnumerable<BLMS.v2.Models.CompetentPersonnel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Page header -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="text-bold">ADMIN USER - COMPETENT PERSONNEL</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">Competent Personnel</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-body">

                <table id="tableCP" class="table table-bordered table-responsive-sm" style="display: block; overflow-x: auto; white-space: nowrap;">
                    <thead class="text-center table-active">
                        <tr>
                            <th class="text-sm align-text-top">
                                No
                            </th>
                            <th class="text-sm align-text-top">
                                @Html.DisplayNameFor(model => model.BusinessUnit)
                            </th>
                            <th class="text-sm align-text-top">
                                @Html.DisplayNameFor(model => model.PersonnelName)
                            </th>
                            <th class="text-sm align-text-top">
                                @Html.DisplayNameFor(model => model.AppointedDt)
                            </th>
                            <th class="text-sm align-text-top">
                                @Html.DisplayNameFor(model => model.CertFrom)
                            </th>
                            <th class="text-sm align-text-top">
                                @Html.DisplayNameFor(model => model.CertType)
                            </th>
                            <th class="text-sm align-text-top">
                                @Html.DisplayNameFor(model => model.CertNo)
                            </th>
                            <th class="text-sm align-text-top">
                                @Html.DisplayNameFor(model => model.ExpiredDt)
                            </th>
                            <th class="text-sm align-text-top">
                                @Html.DisplayNameFor(model => model.YearAwarded)
                            </th>
                            <th class="text-sm align-text-top">
                                @Html.DisplayNameFor(model => model.CertFileName)
                            </th>
                            <th class="text-sm align-text-top">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @{ int i = 1; }
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="text-sm">
                                @i
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.BusinessUnit)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.PersonnelName)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.AppointedDt)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.CertFrom)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.CertType)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.CertNo)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.ExpiredDt)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.YearAwarded)
                            </td>
                            <td>
                                @{
                                    if (item.CertFileName == null)
                                    {
                                        <i class="text-sm font-italic">Not available</i>
                                    }
                                    else
                                    {
                                        <a href="@Html.DisplayFor(modelItem => item.CertFileName)" target="_blank"><i class="fa fa-file fa-sm"></i></a>
                                    }
                                }
                            </td>
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.PersonnelId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.PersonnelId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.PersonnelId">Delete</a>*@
                                @Html.ActionLink("Details", "Details", new { id = item.PersonnelId }, new { @class = "btn btn-secondary btn-sm" })
                            </td>
                        </tr>
                        i++;
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a asp-action="Create" class="btn btn-success btn-block btn-sm text-white">Register New</a>
            </div>
        </div>
    </section>
</div>

