@model IEnumerable<BLMS.Models.CompetentPersonnel>

@{
    ViewData["Title"] = "Competent Personnel";
}

<section class="section align-baseline">
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12">
            <div class="card card-cascade cascading-admin-card user-card">
                <!-- Card Data -->
                <div class="admin-up d-flex justify-content-start">
                    <i class="fas fa fa-user-ninja info-color py-4 mr-3 z-depth-2"></i>
                    <div class="data">
                        <h5 class="font-weight-bold dark-grey-text">
                            Competent Personnel
                        </h5>
                    </div>
                </div>
                <!-- Card Data -->
                <!-- Card content -->
                <div class="card-body card-body-cascade">
                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="alert" class="form-group">
                                @Html.Raw(@ViewBag.Alert)
                            </div>

                            <div class="table-responsive">


                                <table id="tableCP" class="table table-bordered table-responsive-sm" style="display: block; overflow-x: auto; white-space: nowrap;">
                                    <thead class="text-center table-active">
                                        <tr>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    </tbody>
                                </table>
                                <!--Table-->
                                <table id="CompetentPersonnel" class="table table-hover">
                                    <!-- Table head -->
                                    <thead class="heavy-rain-gradient text-black">
                                        <tr>
                                            <th class="text-sm font-weight-bold">No</th>
                                            <th class="text-sm font-weight-bold">@Html.DisplayNameFor(model => model.BusinessUnit)</th>
                                            <th class="text-sm font-weight-bold">@Html.DisplayNameFor(model => model.PersonnelName)</th>
                                            <th class="text-sm font-weight-bold">@Html.DisplayNameFor(model => model.AppointedDt)</th>
                                            <th class="text-sm font-weight-bold">@Html.DisplayNameFor(model => model.CertFrom)</th>
                                            <th class="text-sm font-weight-bold">@Html.DisplayNameFor(model => model.CertType)</th>
                                            <th class="text-sm font-weight-bold">@Html.DisplayNameFor(model => model.CertNo)</th>
                                            <th class="text-sm font-weight-bold">@Html.DisplayNameFor(model => model.ExpiredDt)</th>
                                            <th class="text-sm font-weight-bold">@Html.DisplayNameFor(model => model.YearAwarded)</th>
                                            <th class="text-sm font-weight-bold text-center">@Html.DisplayNameFor(model => model.CertFileName)</th>
                                            <th class="text-sm font-weight-bold">Action</th>
                                        </tr>
                                    </thead>
                                    <!-- Table head -->
                                    <!-- Table body -->
                                    <tbody>
                                        @{ int i = 1; }
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="text-sm">
                                                    @i
                                                </td>
                                                <td class="text-sm">
                                                    @Html.DisplayFor(modelItem => item.BusinessUnit)
                                                </td>
                                                <td class="text-sm">
                                                    @Html.DisplayFor(modelItem => item.PersonnelName)
                                                </td>
                                                <td class="text-sm">
                                                    @Html.DisplayFor(modelItem => item.AppointedDt)
                                                </td>
                                                <td class="text-sm">
                                                    @Html.DisplayFor(modelItem => item.CertFrom)
                                                </td>
                                                <td class="text-sm">
                                                    @Html.DisplayFor(modelItem => item.CertType)
                                                </td>
                                                <td class="text-sm">
                                                    @Html.DisplayFor(modelItem => item.CertNo)
                                                </td>
                                                <td class="text-sm">
                                                    @Html.DisplayFor(modelItem => item.ExpiredDt)
                                                </td>
                                                <td class="text-sm">
                                                    @Html.DisplayFor(modelItem => item.YearAwarded)
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        if (item.CertFileName == null)
                                                        {
                                                            <i class="text-sm font-italic">Not available</i>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-outline-primary btn-rounded btn-sm px-2" href="@Html.DisplayFor(modelItem => item.CertFileName)" target="_blank" title="View File">
                                                                <i class="fas fa-file-alt mt-0"></i> View
                                                            </a>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    <a class="btn btn-outline-info btn-rounded btn-sm px-2" title="Details" href="@Url.Action("Details", "CompetentPersonnel", new {id=item.PersonnelId})">
                                                        <i class="fas fa-info mt-0"></i>
                                                    </a>
                                                    <a class="btn btn-outline-primary btn-rounded btn-sm px-2" title="Renewal" href="@Url.Action("Renewal", "CompetentPersonnel", new {id=item.PersonnelId})">
                                                        <i class="fas fa-pencil-alt mt-0"></i>
                                                    </a>
                                                    @*@Html.ActionLink("Details", "Details", new { id = item.PersonnelId }, new { @class = "btn btn-secondary btn-sm btn-block mb-1" })*@
                                                    @*@Html.ActionLink("Renewal", "Renewal", new { id = item.PersonnelId }, new { @class = "btn btn-primary btn-sm btn-block" })*@
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                    <!-- Table body -->
                                </table>
                                <!-- Table -->
                            </div>
                            <a asp-action="Register" class="btn btn-outline-success btn-block text-white text-sm font-weight-bold"><i class="far fa fa-plus ml-1 text-black"></i> Register New Competent Personnel</a>

                        </div>
                    </div>
                    <!-- Grid row -->
                </div>
                <!-- Card content -->
            </div>
        </div>
    </div>
</section>

@section CSS
{
    <link href="~/css/site.css" rel="stylesheet" />
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#CompetentPersonnel').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });

        //auto hide viewbag.alert
        $(document).ready(function () {
            setTimeout(function () {
                $("#alert").fadeOut();
            }, 3000);
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

