@model IEnumerable<BLMS.v2.Models.CompetentPersonnel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Page header -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="text-bold">ADMIN USER - COMPETENT PERSONNEL</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">Competent Personnel</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-body">

                <table class="table table-bordered table-responsive-sm">
                    <thead class="text-center table-active">
                        <tr>
                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.BusinessUnit)
                            </th>
                            <th class="text-sm align-text-top col-md-2">
                                @Html.DisplayNameFor(model => model.PersonnelName)
                            </th>
                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.AppointedDt)
                            </th>
                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.CertFrom)
                            </th>
                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.CertType)
                            </th>
                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.CertNo)
                            </th>
                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.ExpiredDt)
                            </th>
                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.YearAwarded)
                            </th>
                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.CertFileName)
                            </th>
                            <th class="text-sm align-text-top col-md-2">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.BusinessUnit)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.PersonnelName)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.AppointedDt)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.CertFrom)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.CertType)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.CertNo)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.ExpiredDt)
                            </td>
                            <td class="text-sm">
                                @Html.DisplayFor(modelItem => item.YearAwarded)
                            </td>
                            <td>
                                <a href="@Html.DisplayFor(modelItem => item.CertFileName)" target="_blank"><i class="fa fa-file fa-sm"></i></a>
                            </td>
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.PersonnelId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.PersonnelId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.PersonnelId">Delete</a>*@
                                @Html.ActionLink("Details", "Details", new { id = item.PersonnelId }, new { @class = "btn btn-secondary btn-sm" })
                            </td>
                        </tr>


                            @*<tr>
                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.UnitName)
                                </td>
                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.LicenseName)
                                </td>
                                <td>
                                    @if (item.RenewReminderDT.ToString() != "9999-12-31 00:00:00.000")
                                    {
                                        <a type="button" asp-controller="LicenseHQ" asp-action="DownloadLicenseFile" asp-route-id="@item.LicenseID"><i class="fa fa-file fa-sm"></i></a>
                                    }
                                </td>
                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.IssuedDT)
                                </td>
                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.ExpiredDT)
                                </td>
                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.PIC1Name)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.PIC2Name)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.PIC3Name)
                                </td>
                                <td>
                                    @if (item.isRequested == true)
                                    {
                                        <button name="button" class="btn btn-primary btn-sm" disabled>
                                            Requested
                                        </button>
                                    }
                                    else if (item.isApproved == true)
                                    {
                                        <button name="button" class="btn btn-warning btn-sm" disabled>
                                            Approved
                                        </button>
                                    }
                                    else if (item.isRegistered == true)
                                    {
                                        <button name="button" class="mb-1 btn btn-success btn-sm text-sm btn-block" disabled>
                                            Registered
                                        </button>
                                    }
                                    else if (item.isRenewed == true)
                                    {
                                        <button name="button" class="mb-1 btn btn-info btn-sm text-sm btn-block" disabled>
                                            Renewed
                                        </button>
                                    }

                                    @if ((item.RenewReminderDT.Date - DateTime.Now.Date).Days > 0 | item.RenewReminderDT.ToString() == "9999-12-31 00:00:00.000")
                                    {
                                        <button name="button" class="btn btn-success btn-sm text-sm btn-block" disabled>
                                            Active
                                        </button>
                                    }
                                    else
                                    {
                                        <button name="button" class="btn btn-secondary btn-sm text-sm btn-block" disabled>
                                            Not active
                                        </button>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.LicenseID }, new { @class = "btn btn-secondary btn-sm" })
                                </td>
                            </tr>*@
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a asp-action="Create" class="btn btn-success btn-block btn-sm text-white">Register New</a>
            </div>
        </div>
    </section>
</div>

