@model BLMS.v2.Models.PageCompetentPersonnel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Page header -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="text-bold">COMPETENT PERSONNEL - REGISTER</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="~/CompetentPersonnel/Index">Competent Personnel</a></li>
                        <li class="breadcrumb-item active">Register</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <form asp-action="Register">

            <div asp-validation-summary="ModelOnly" class="text-danger text-sm"></div>
            <input type="hidden" asp-for="CompetentPersonnel.PersonnelId" />
            <input type="hidden" asp-for="CompetentPersonnel.CreatedDt" />
            <input type="hidden" asp-for="CompetentPersonnel.CreatedBy" />
            <input type="hidden" asp-for="CompetentPersonnel.UpdatedDt" />
            <input type="hidden" asp-for="CompetentPersonnel.UpdatedBy" />

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            @if (Model.ReturnMessage != null)
                            {
                            @Html.Raw(Model.ReturnMessage);
                            }

                            <div class="card">
                                <div class="card-header bg-success text-white">
                                    <label class="control-label text-sm">Competent Personnel Details</label>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="CompetentPersonnel.BusinessDiv" class="control-label text-sm" style="color:red">*</label>
                                                <label asp-for="CompetentPersonnel.BusinessDiv" class="control-label text-sm"></label>
                                                <input asp-for="CompetentPersonnel.BusinessDiv" class="form-control text-sm" />
                                                <span asp-validation-for="CompetentPersonnel.BusinessDiv" class="text-danger text-sm"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="CompetentPersonnel.BusinessUnit" class="control-label text-sm" style="color:red">*</label>
                                                <label asp-for="CompetentPersonnel.BusinessUnit" class="control-label text-sm"></label>
                                                <input asp-for="CompetentPersonnel.BusinessUnit" class="form-control text-sm" />
                                                <span asp-validation-for="CompetentPersonnel.BusinessUnit" class="text-danger text-sm"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CompetentPersonnel.PersonnelName" class="control-label text-sm" style="color:red">*</label>
                                        <label asp-for="CompetentPersonnel.PersonnelName" class="control-label text-sm"></label>
                                        <input asp-for="CompetentPersonnel.PersonnelName" class="form-control text-sm" />
                                        <span asp-validation-for="CompetentPersonnel.PersonnelName" class="text-danger text-sm"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CompetentPersonnel.Icno" class="control-label text-sm"></label>
                                        <input asp-for="CompetentPersonnel.Icno" class="form-control text-sm" />
                                        <span asp-validation-for="CompetentPersonnel.Icno" class="text-danger text-sm"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CompetentPersonnel.YearAwarded" class="control-label text-sm"></label>
                                        <input asp-for="CompetentPersonnel.YearAwarded" class="form-control text-sm" />
                                        <span asp-validation-for="CompetentPersonnel.YearAwarded" class="text-danger text-sm"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CompetentPersonnel.AppointedDt" class="control-label text-sm"></label>
                                        <input asp-for="CompetentPersonnel.AppointedDt" class="form-control text-sm" />
                                        <span asp-validation-for="CompetentPersonnel.AppointedDt" class="text-danger text-sm"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CompetentPersonnel.ExpiredDt" class="control-label text-sm"></label>
                                        <input asp-for="CompetentPersonnel.ExpiredDt" class="form-control text-sm" />
                                        <span asp-validation-for="CompetentPersonnel.ExpiredDt" class="text-danger text-sm"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CompetentPersonnel.RegNo" class="control-label text-sm"></label>
                                        <input asp-for="CompetentPersonnel.RegNo" class="form-control text-sm" />
                                        <span asp-validation-for="CompetentPersonnel.RegNo" class="text-danger text-sm"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CompetentPersonnel.Branch" class="control-label text-sm"></label>
                                        <input asp-for="CompetentPersonnel.Branch" class="form-control text-sm" />
                                        <span asp-validation-for="CompetentPersonnel.Branch" class="text-danger text-sm"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header bg-success text-white">
                                    <label class="control-label text-sm">Certificate Details</label>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="form-group">
                                        <label asp-for="CompetentPersonnel.CertFrom" class="control-label text-sm" style="color:red">*</label>
                                        <label asp-for="CompetentPersonnel.CertFrom" class="control-label text-sm"></label>
                                        <input asp-for="CompetentPersonnel.CertFrom" class="form-control text-sm" />
                                        <span asp-validation-for="CompetentPersonnel.CertFrom" class="text-danger text-sm"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CompetentPersonnel.CertType" class="control-label text-sm"></label>
                                        <input asp-for="CompetentPersonnel.CertType" class="form-control text-sm" />
                                        <span asp-validation-for="CompetentPersonnel.CertType" class="text-danger text-sm"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CompetentPersonnel.CertNo" class="control-label text-sm"></label>
                                        <input asp-for="CompetentPersonnel.CertNo" class="form-control text-sm" />
                                        <span asp-validation-for="CompetentPersonnel.CertNo" class="text-danger text-sm"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CompetentPersonnel.CertFileName" class="control-label text-sm"></label>
                                        <input asp-for="CompetentPersonnel.CertFileName" class="form-control text-sm" />
                                        <span asp-validation-for="CompetentPersonnel.CertFileName" class="text-danger text-sm"></span>
                                    </div>

                                </div>
                            </div>

                            @{
                            if (Model.CompetentPersonnel.CreatedBy != null)
                            {
                            <span class="text-sm font-italic">Created by @Html.DisplayFor(model => model.CompetentPersonnel.CreatedBy) on @Html.DisplayFor(model => model.CompetentPersonnel.CreatedDt)<br /></span>
                            }
                            if (Model.CompetentPersonnel.UpdatedBy != null)
                            {
                            <span class="text-sm font-italic">Updated by @Html.DisplayFor(model => model.CompetentPersonnel.UpdatedBy) on @Html.DisplayFor(model => model.CompetentPersonnel.UpdatedDt)</span>
                            }
                            }

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="Index" class="btn btn-success btn-sm text-white"> Back</a>
                    <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
