@model IEnumerable<BLMS.v2.Models.License.LicenseAdmin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Page header -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="text-bold">ADMINISTRATOR - LICENSE LISTING</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">License Listing</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-responsive-sm">
                    <thead class="text-center table-active">
                        <tr>
                            <th class="text-sm align-text-top col-sm-3">
                                @Html.DisplayNameFor(model => model.UnitName)
                            </th>
                            <th class="text-sm align-text-top col-sm-3">
                                @Html.DisplayNameFor(model => model.LicenseName)
                            </th>
                            <th class="text-sm align-text-top col-sm-1">License File</th>
                            <th class="text-sm align-text-top col-sm-2">
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </th>
                            <th class="text-sm align-text-top col-sm-2">Issued Date</th>
                            <th class="text-sm align-text-top col-sm-2">Expired Date</th>
                            <th class="text-sm align-text-top col-sm-3">PIC</th>
                            <th class="text-sm align-text-top col-sm-1">Status</th>
                            <th class="text-sm align-text-top col-sm-1">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.UnitName)
                                </td>
                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.LicenseName)
                                </td>
                                <td>
                                    @if (item.isRegistered == true)
                                    {
                                        <a type="button" asp-controller="LicenseSite" asp-action="DownloadLicenseFile" asp-route-id="@item.LicenseID"><i class="fa fa-file fa-sm"></i></a>
                                    }
                                </td>
                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td class="text-sm"></td>
                                <td class="text-sm"></td>
                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.PIC2Name)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.PIC3Name)
                                </td>
                                <td>
                                    @if (item.isApproved == true)
                                    {
                                        <button name="button" class="mb-1 btn btn-warning btn-sm text-sm btn-block" disabled>
                                            Approved
                                        </button>
                                    }
                                    else if (item.isRegistered == true)
                                    {
                                        <button name="button" class="mb-1 btn btn-success btn-sm text-sm btn-block" disabled>
                                            Registered
                                        </button>
                                    }
                                    else if (item.isRenewed == true)
                                    {
                                        <button name="button" class="mb-1 btn btn-info btn-sm text-sm btn-block" disabled>
                                            Renewed
                                        </button>
                                    }

                                    <button name="button" class="btn btn-success btn-sm text-sm btn-block" disabled>
                                        Active
                                    </button>
                                </td>
                                <td>
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.CategoryName }, new { @class = "btn btn-primary btn-sm" })*@

                                    @if (item.isApproved == true)
                                    {
                                        @Html.ActionLink("Details", "RequestDetails", new { id = item.LicenseID }, new { @class = "mb-1 btn btn-secondary btn-sm btn-block" })
                                        @Html.ActionLink("Register", "Register", new { id = item.LicenseID }, new { @class = "btn btn-info btn-sm btn-block" })
                                    }
                                    else if (item.isRegistered == true)
                                    {
                                        @Html.ActionLink("Details", "RegisterDetails", new { id = item.LicenseID }, new { @class = "mb-1 btn btn-secondary btn-sm btn-block" })
                                        @Html.ActionLink("Renewal", "Renewal", new { id = item.LicenseID }, new { @class = "btn btn-primary btn-sm btn-block" })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>